
[user]
	name = Izzet Mustsfaiev
	email = webdizz@gmail.com
[core]
	autocrlf = false
	excludesfile = /opt/boxen/config/git/gitignore
	trustctime = false
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[push]
	default = matching
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = ~/dev/tools/bin/extMerge.sh \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Utils/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[hub]
  protocol = https

[rerere]
  # Remember my merges
  # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
  enabled = true

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
	whitespace = red reverse

[color "status"]
	added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta

[github]
	user = webdizz

[alias]
  # add
  a = add                           # add
  chunkyadd = add --patch           # stage commits chunk by chunk
	ai = add -i

  # branch
  b = branch -v                     # branch (verbose)
	ba = branch -a
	bd = branch -d
	br = branch -r

  # commit
  c = commit -m                     # commit with message
  ca = commit -am                   # commit all with message
  ci = commit                       # commit
  amend = commit --amend            # ammend your last commit
  ammend = commit --amend           # ammend your last commit
	cd = commit --amend

	# fetch
	f = fetch
	fo = fetch origin	

	# patch
	fp = format-patch

  # checkout
  co = checkout                     # checkout
  nb = checkout -b                  # create and switch to a new branch (mnemonic: "git new branch branchname...")

  # cherry-pick
  cp = cherry-pick -x               # grab a change from a branch

  # diff
  d = diff                          # diff unstaged changes
  dc = diff --cached                # diff staged changes
  last = diff HEAD^                 # diff last committed change
	dk = diff --check
	dp = diff --patience
	dck = diff --cached --check

  # log
  l = log --graph --date=short
	lg = log --oneline --graph --decorate	
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  changelog = log --pretty=format:\" * %s\"
  shortnocolor = log --pretty=format:\"%h %cr %cn %s\"

  # pull
  pl = pull                         # pull
  plo = pull origin
  plom = pull origin master
  pb = pull --rebase
  pbo = pull --rebase origin
  pbom = pull --rebase origin master
  pbod = pull --rebase origin develop

  # push
  ps = push                         # push
  pso = push origin
  psom = push origin master
  psod = push origin develop

  # rebase
  rc = rebase --continue            # continue rebase
  rs = rebase --skip                # skip rebase
	ra = rebase --abort
	ri = rebase --interactive

  # remote
  r = remote -v                     # show remotes (verbose)
	rr = remote rm
	rv = remote -v
	rp = remote prune
	rs = remote show
	rao = remote add origin
	rso = remote show origin
	rpo = remote prune origin
	
	# merge	
	m = merge
	ma = merge --abort
	mc = merge --continue
	ms = merge --skip

	fk = fsck
  # reset
  unstage = reset HEAD              # remove files from index (tracking)
  uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state
	re = reset
	rh = reset HEAD
	reh = reset --hard
	rem = reset --mixed
	res = reset --soft
	rehh = reset --hard HEAD
	remh = reset --mixed HEAD
	resh = reset --soft HEAD
  filelog = log -u                  # show changes to a file
  mt = mergetool                    # fire up the merge tool

  # stash
  ss = stash                        # stash changes
  sl = stash list                   # list stashes
  sa = stash apply                  # apply stash (restore changes)
  sd = stash drop                   # drop stashes (destory changes)
	sc = stash clear
	sp = stash pop
	ss = stash save
	sw = stash show

  # status
  s = status                        # status
  st = status                       # status
  stat = status                     # status
	sb = status -s -b

  # tag
  t = tag -n                        # show tags with <n> lines of each tag message

  # svn helpers
  svnr = svn rebase
  svnd = svn dcommit
  svnl = svn log --oneline --show-commit

	ls = ls-files

	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short

[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

